@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.navbar-brand{
  font-weight: bold !important;
}
.navbar-toggle:hover{
  background-color: #2b3699ff;
}